*{
    margin: 0;
}

.container{

    background: skyblue;
    width: 100vw;
    height: 1500vh;
    text-align: center;
    

}

p{
    font-size: xx-large;
    padding: 10%; 
}

button{

    font-size: xx-large;
    padding: 0.75em;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}

#centro {
    background-color: paleturquoise;
    width: 400px;
    margin: 0px auto;
    padding: 8px;
    align-content: center;
    /*margin-left: auto;
    margin-right: auto;*/
  }

  #derecha{
    padding-right: 50px;
    text-align: right;
  }

  #izquierda{
    padding-right: 10px;
    text-align: left;
  }